html,
body,
.main-container {
    height: 100%;
    background:  #eae7dc;
}

.title {
    padding: 0.5em;
    background-color: #8e8d8a;
}

.form-content {
    padding: 5vh;
    max-width: 960px;
}

.addBookBtn:hover {
    background-color: #e98074 ;
}

.addBookBtn:active {
    background-color: #e85a4f;
}

.addBookBtn {
    background-color: #d8c3a5;
    border: 1px solid #8e8d8a ;
    border-radius: 3px;
    width: 100px;
}
.card {
    margin-bottom: 20px;
}
